/target/.history
/target/resolution-cache/default/spark-ml_2.10/1.0/resolved.xml.properties
/target/resolution-cache/default/spark-ml_2.10/1.0/resolved.xml.xml
/target/resolution-cache/default/spark-ml_2.11/1.0/resolved.xml.properties
/target/resolution-cache/default/spark-ml_2.11/1.0/resolved.xml.xml
/target/resolution-cache/reports/default-spark-ml_2.10-compile-internal.xml
/target/resolution-cache/reports/default-spark-ml_2.10-compile.xml
/target/resolution-cache/reports/default-spark-ml_2.10-docs.xml
/target/resolution-cache/reports/default-spark-ml_2.10-optional.xml
/target/resolution-cache/reports/default-spark-ml_2.10-plugin.xml
/target/resolution-cache/reports/default-spark-ml_2.10-pom.xml
/target/resolution-cache/reports/default-spark-ml_2.10-provided.xml
/target/resolution-cache/reports/default-spark-ml_2.10-runtime-internal.xml
/target/resolution-cache/reports/default-spark-ml_2.10-runtime.xml
/target/resolution-cache/reports/default-spark-ml_2.10-scala-tool.xml
/target/resolution-cache/reports/default-spark-ml_2.10-sources.xml
/target/resolution-cache/reports/default-spark-ml_2.10-test-internal.xml
/target/resolution-cache/reports/default-spark-ml_2.10-test.xml
/target/resolution-cache/reports/default-spark-ml_2.11-compile-internal.xml
/target/resolution-cache/reports/default-spark-ml_2.11-compile.xml
/target/resolution-cache/reports/default-spark-ml_2.11-docs.xml
/target/resolution-cache/reports/default-spark-ml_2.11-optional.xml
/target/resolution-cache/reports/default-spark-ml_2.11-plugin.xml
/target/resolution-cache/reports/default-spark-ml_2.11-pom.xml
/target/resolution-cache/reports/default-spark-ml_2.11-provided.xml
/target/resolution-cache/reports/default-spark-ml_2.11-runtime-internal.xml
/target/resolution-cache/reports/default-spark-ml_2.11-runtime.xml
/target/resolution-cache/reports/default-spark-ml_2.11-scala-tool.xml
/target/resolution-cache/reports/default-spark-ml_2.11-sources.xml
/target/resolution-cache/reports/default-spark-ml_2.11-test-internal.xml
/target/resolution-cache/reports/default-spark-ml_2.11-test.xml
/target/resolution-cache/reports/ivy-report.css
/target/resolution-cache/reports/ivy-report.xsl
/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.10/input_dsp
/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.10/output_dsp
/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.11/input_dsp
/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.11/output_dsp
/target/streams/$global/ivyConfiguration/$global/streams/out
/target/streams/$global/ivySbt/$global/streams/out
/target/streams/$global/projectDescriptors/$global/streams/out
/target/streams/$global/update/$global/streams/out
/target/streams/$global/update/$global/streams/update_cache_2.10/inputs
/target/streams/$global/update/$global/streams/update_cache_2.10/output
/target/streams/$global/update/$global/streams/update_cache_2.11/inputs
/target/streams/$global/update/$global/streams/update_cache_2.11/output
/target/streams/compile/unmanagedJars/$global/streams/export
/target/streams/runtime/unmanagedJars/$global/streams/export
/target/streams/test/externalDependencyClasspath/$global/streams/export
/target/streams/test/managedClasspath/$global/streams/export
/target/streams/test/unmanagedClasspath/$global/streams/export
/target/streams/test/unmanagedJars/$global/streams/export
/project/target/config-classes/$25d190c611dfb0a6e6d8$$anonfun$$sbtdef$1.class
/project/target/config-classes/$25d190c611dfb0a6e6d8$.class
/project/target/config-classes/$25d190c611dfb0a6e6d8.cache
/project/target/config-classes/$25d190c611dfb0a6e6d8.class
/project/target/config-classes/$63b5ffdeab76a77c1ef8$$anonfun$$sbtdef$1.class
/project/target/config-classes/$63b5ffdeab76a77c1ef8$.class
/project/target/config-classes/$63b5ffdeab76a77c1ef8.cache
/project/target/config-classes/$63b5ffdeab76a77c1ef8.class
/project/target/config-classes/$b9708d3cbeda295dd461$$anonfun$$sbtdef$1.class
/project/target/config-classes/$b9708d3cbeda295dd461$.class
/project/target/config-classes/$b9708d3cbeda295dd461.cache
/project/target/config-classes/$b9708d3cbeda295dd461.class
/project/target/config-classes/$faa46c9a581f5ab2fcfc$$anonfun$$sbtdef$1.class
/project/target/config-classes/$faa46c9a581f5ab2fcfc$.class
/project/target/config-classes/$faa46c9a581f5ab2fcfc.cache
/project/target/config-classes/$faa46c9a581f5ab2fcfc.class
/bin/com/spark/breeze/RDDVectorExample$$anonfun$4$$anonfun$5.class
/bin/com/spark/breeze/RDDVectorExample$$anonfun$4$$anonfun$6.class
/bin/com/spark/breeze/RDDVectorExample$$anonfun$4.class
/bin/com/spark/breeze/RDDVectorExample$.class
/bin/com/spark/breeze/RDDVectorExample.class
/bin/com/spark/breeze/VectorExample$.class
/bin/com/spark/breeze/VectorExample.class
/bin/com/spark/machinelearning/DataPoint$.class
/bin/com/spark/machinelearning/DataPoint.class
/bin/com/spark/machinelearning/LRWithSGD$$anonfun$main$1$$anonfun$2.class
/bin/com/spark/machinelearning/LRWithSGD$$anonfun$main$1$$anonfun$3$$anonfun$1.class
/bin/com/spark/machinelearning/LRWithSGD$$anonfun$main$1$$anonfun$3.class
/bin/com/spark/machinelearning/LRWithSGD$$anonfun$main$1$$anonfun$4.class
/bin/com/spark/machinelearning/LRWithSGD$$anonfun$main$1.class
/bin/com/spark/machinelearning/LRWithSGD$.class
/bin/com/spark/machinelearning/LRWithSGD.class
/bin/com/spark/machinelearning/LinearRegressionExample$$anonfun$main$1$$anonfun$2.class
/bin/com/spark/machinelearning/LinearRegressionExample$$anonfun$main$1$$anonfun$3$$anonfun$1.class
/bin/com/spark/machinelearning/LinearRegressionExample$$anonfun$main$1$$anonfun$3.class
/bin/com/spark/machinelearning/LinearRegressionExample$$anonfun$main$1$$anonfun$4.class
/bin/com/spark/machinelearning/LinearRegressionExample$$anonfun$main$1.class
/bin/com/spark/machinelearning/LinearRegressionExample$.class
/bin/com/spark/machinelearning/LinearRegressionExample.class
/bin/com/spark/machinelearning/Utils$$anonfun$generateData$1.class
/bin/com/spark/machinelearning/Utils$.class
/bin/com/spark/machinelearning/Utils.class
/bin/com/spark/mllib/LRForHousingData$$anonfun$1$$anonfun$2.class
/bin/com/spark/mllib/LRForHousingData$$anonfun$1.class
/bin/com/spark/mllib/LRForHousingData$$anonfun$3.class
/bin/com/spark/mllib/LRForHousingData$.class
/bin/com/spark/mllib/LRForHousingData.class
/bin/com/spark/mllib/LinearRegressionInMLLib$$anonfun$1.class
/bin/com/spark/mllib/LinearRegressionInMLLib$.class
/bin/com/spark/mllib/LinearRegressionInMLLib.class
/bin/ex1data1.txt
/bin/log4j.properties
/.cache-main
/.classpath
/.project
/.settings/org.eclipse.core.resources.prefs
/.settings/org.scala-ide.sdt.core.prefs
/bin/com/madhukaraphatak/spark/breeze/DotProductExample$.class
/bin/com/madhukaraphatak/spark/breeze/DotProductExample.class
/bin/com/spark/breeze/InPlaceExample$.class
/bin/com/spark/breeze/InPlaceExample.class
/bin/com/spark/breeze/MultiplyMatrixByConstant$.class
/bin/com/spark/breeze/MultiplyMatrixByConstant.class
/bin/com/spark/breeze/MultiplyVectorByConstant$.class
/bin/com/spark/breeze/MultiplyVectorByConstant.class
/bin/com/spark/breeze/RDDVectorExample$$anonfun$1$$anonfun$2.class
/bin/com/spark/breeze/RDDVectorExample$$anonfun$1.class
/bin/com/spark/breeze/RDDVectorExample$$anonfun$3.class
